//Style commun à tous les éléments
body {
  display: flex;
  justify-items: center;
  align-items: center;
  flex-direction: column;
  background-color: rgb(223, 222, 222);
}
header {
  background-color: #3f8426;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 375px;
  height: 50px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  h1 {
    font-family: $font-text;
    font-size: 24px;
    color: white;
  }
}

.btnDarkMode {
  width: 35px;
  height: 35px;
}

#tri {
  font-family: $font-text;
  margin: 15px 0 10px 0;
}

img {
  width: 300px;
  height: 250px;
  margin: 5px;
  border-radius: 20px;
}

.btnAdd {
  width: 70px;
  padding: 5px;
  border: 1px solid black;
  border-radius: 30px;
  font-size: 16px;
  font-weight: 500;
  color: white;
  background-color: black;
}

.dishCard {
  // border: 1px solid black;
  border-radius: 20px;
  margin: 5px;
  width: 375px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  box-shadow: 3px 3px 3px grey;
}

.dishTitle {
  font-family: $font-main;
  font-weight: 500;
}

.dishStyle {
  font-family: $font-text;
  font-size: 16px;
}

.dishPrice {
  font-family: $font-main;
  font-weight: 600;
}

.dishTitle,
.dishStyle,
.dishPrice,
.dishIngredients,
.btnAdd {
  margin: 5px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}
li {
  display: inline-block;
  margin-right: 10px;
  text-align: center;
  background-color: #3f8426;
  border-radius: 5px;
  padding: 2px;
  margin: 5px;
  text-transform: capitalize;
}

.cartItem {
  display: flex;
  margin-right: 10px;
  text-align: center;
  background-color: #3f8426;
  border-radius: 5px;
  padding: 2px;
  margin: 5px;
  text-transform: capitalize;
}

.listCart {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}